				#wrapper, img{
					width:100%;
					height: 100%;
								}

				a:link, a:visited {
  				background-color: #f44336;
 				color: white;
				padding: 14px 25px;
				text-align: center; 
				text-decoration: none;
				display: inline-block;
				}

				a:hover, a:active {
				background-color: red;
				}
				

				table, th, td {
					border: 2px solid black;
									}
				th{
					text-align: center;
					}
					
				tr{
					background-color: #FF0000;
					color: red;
					}
					
				h1, h2, h3, h4, h5, h6, p{
					font-family: "Comic Sans MS", "Comic Sans", cursive;
					}
					
				ul{
					font-family: "Comic Sans MS", "Comic Sans", cursive;
					}
				ol{
					font-family: "Comic Sans MS", "Comic Sans", cursive;
					}
